*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: auto;
  background-color: rgb(225, 223, 223);
}
 

.box1 {
  display: flex;
  border: 10px dotted black;
  height: 100px;
  width: 200px;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  justify-content: center;
}

/* h1{
  font-size: 2.5rem;
  font-weight: 700;
  background-color: red;
  color: white;
  display: inline;
} */
p{
  background-color: gold;
  color: black;
  font-size: 3rem;
  font-weight: 800;
  display: inline;
  text-align: center;
}

h2{
  color: gold;
  width: 500px;
  background-color: black;
  box-shadow: 5px 15px 5px gray;
}